<h1 class="logotype">
  <a class="logotype-link" href="<%= __('nav.main.home.url') %>" rel="home" aria-describedby="a-logo">
    Julia Delorenzi
    <span class="hide" id="a-logo">Ir para a Página inicial</span>
  </a>  
</h1>
