/* ==========================================================================
  Variables
========================================================================== */

/* Lang Nav
========================================================================== */
.langNav {
  font-size: 1rem;
}

.langNav-list {
  display: flex;
  flex-direction: row;
  flex-flow: wrap row;
  justify-content: space-between;
}

.langNav-item {
  margin-left: 10px;

  &:first-child {
    margin-left: 0;
  }
}

.langNav-icon {
  opacity: 0.4;
  transition: all 0.5s ease-in-out;
}

.langNav-link {
  &:hover {
    .langNav-icon {
      opacity: 0.8;
    }
  }

  &.on .langNav-icon {
    opacity: 1;
  }
}
