/* ==========================================================================
  Variables
========================================================================== */


/* Main Nav
========================================================================== */
.mainNav {
  font-size: 1rem;
  padding: 0 0 30px;
}

.mainNav-list {
  display: flex;
  flex-direction: row;
  flex-flow: wrap row;
  justify-content: space-between;
}

.mainNav-item {
  margin-left: 10px;

  &:first-child {
    margin-left: 0;
  }
}
