/* ==========================================================================
  Variables
========================================================================== */


/* Imports
========================================================================== */
@import "../05-objects/navs/_lang";
@import "../05-objects/navs/_social";
@import "../05-objects/navs/_main";

@import "../05-objects/logotypes/_site";

/* Header
========================================================================== */
.header {
  padding: 10px;
}

.header-content {
  display: flex;
  flex-direction: row;
  flex-flow: wrap row;
  justify-content: space-between;
}
